@font-face
{
    font-family: Alysthia;
    src: url(./polices/Alysthia.ttf);
}

@font-face
{
    font-family: Anastasia;
    src: url(./polices/Anastasia.otf);
}

/* --- */

.degrade-diagonal
{
    -fx-background-color: linear-gradient(to top right, #FCE1A4, #A6CB99, #6FACC4, #1E329F);
}

.degrade-diagonal-formulaire
{
    -fx-background-color: linear-gradient(to top right, #A6CB99, #6FACC4, #1E329F);
    -fx-background-radius: 15px;
}


.titre-accueil
{
    -fx-font-family: Alysthia;
}

.titre-formulaire
{
    -fx-font-family: Anastasia;
}

.bouton-vert
{
    -fx-background-color: #C7D87D;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.bouton-orange
{
    -fx-background-color: #DCCB72;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.bouton-bleu
{
    -fx-background-color: #6395C4;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

.bordure
{
    -fx-background-radius: 15px;
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.gris-transparent
{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}
